.search-box{
    position: relative;
    width: 250px;
}
.search-box input,
#number-input{
    width:100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
}
.dropdown{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-top: 5px;
}
.dropdown div{
    padding:10px;
    cursor: pointer;
}
.dropdown div:hover{
    background: #f2f2f2;
}
#place,
#date{
    display: none;
}
#searchInput{
    
}

.form-container{
    margin: auto;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #f2f2f2;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
@media (max-width:768px) {
    .form-container{
        flex-direction: column;
        align-items: stretch;
    }
    .search-box{
        /* width: 100%; */
    }
    #number-inbut{
        /* width: 100%; */
    }
    
}