.search-box{
    position: relative;
    width: 30%;
}
.search-box input,
#number-input{
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
}
.dropdown{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-top: 5px;
    z-index: 99;
}
.dropdown div{
    padding:10px;
    cursor: pointer;
}
.dropdown div:hover{
    background: #f2f2f2;
}
#place,
#date{
    display: none;
}

.form-container{
    margin: auto;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #f2f2f2;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
@media (max-width:768px) {
    .form-container{
        flex-direction: column;
        align-items: center;
    }
    .number-box{
        width: 100%;
    }
.search-box input,
.search-box,
#number-input{
    /* width:100%; */
    padding: 12px;
    border-radius: 12px;
    /* border: 1px solid #ccc; */
    width: calc(100% - 24px);
}
    
}