:root{
    --c1: #ffffff;
    --c2: #a8dadc;
    --c3: #f1faee;
    --c4: #457b9d;
    --c5: #ffE066;
    --c6: red;
    --c7: red;
    --c8: #121212;
    --m1: #ffffff;
    --m2: red;
    --m3: red;
    --m4: red;
    --y1: #ffffff;
    --y2: #f1faee;
    --y3: #1d3557;
    --y4: #A8DADC;
    --y5: #1d3557;
    --y6: #457B9D;
    --y7: #1d3557;
    --y8: #386480;
    --y9: #2c4e63;
}