 /*Please don't even touch anything in this files:(b.css&c.css&&yy.js) because it's forbidden 
also add your hotel page in:payment.htm as shown inside..Thanks! */
<!DOCTYPE html>
<html>
<head>
<style>  
h1{
   text-align: center;
}
 body{
    background-color: #abcdef;
       background-image:
    url("H41.jpg");
   background-repeat:no-repeat;
   background-position:center;
   background-attachment:fixed;
   background-size:cover;
}
body.theme-light {
    --bg-color:white;
    --text-color:black;
    --accent-color:royalblue;
}
body.theme-dark{
    --bg-color:#121212;
    --text-color:#f5f5f5;
    --accent-color: #00bcd4;
}

</style>
</head>
</html>


