*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    min-height: 100vh;
    background-image: url(images/hero_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.content{
    text-align: center;
    color:rgb(27, 36, 27);
    position: relative;
    top: -230px;
}
#offer{
    position: relative;
    bottom: -55vh;
    background-color:chartreuse;
    
}
.content{
    font-size: 60px;
    margin-bottom: 300px;
}
.content .go{
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(10, 44, 42);
    border-radius: 5px;
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s ease;
    
    
}
.content .go:hover{
    background-color:blue;

}